.Course-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.class{
    border: 1px solid white;  /* ✅ 修正：加入 `border` 屬性 */
    width: 30vw;
    height: 5vh;
    font-size: 3vh;
    font-weight: 600;
    color: white;
    text-align: left;
    margin-bottom: 2.5%;
    border-radius: 10px;
    background-color: rgb(52, 51, 53);
    text-shadow:
      2px 2px 0 #000,  /* 左上 */
      -2px -2px 0 #000, /* 右下 */
      2px -2px 0 #000,  /* 右上 */
      -2px 2px 0 #000;  /* 左下 */
    opacity: 0.6;
    padding: 2%;
    background: linear-gradient(90deg, #1997b358, #1a2128);
}

.class:hover{
    opacity: 1;
    transform: scale(1.1); 
    text-shadow: 0 0 5px #006e48, 0 0 8px #0aae90, 0 0 20px #a0f7f6, 0 0 35px #819bb7;
    box-shadow: 0 0 5px #006e48, 0 0 8px #0aae90, 0 0 20px #a0f7f6, 0 0 35px #819bb7;
}

.course-text{
    font-size: 2rem;
    margin-top: 2%;
    margin-bottom: 4%;
    font-weight: bolder;
}