body {
  background-color: black; /* 黑色背景 */
  color: white; /* 文字顏色為白色 */
  animation: gradientAnimation 20s ease infinite;
  height: 100vh;
  margin: 0;
  position: relative;  /* 確保 body 元素不會影響粒子顯示 */
  z-index: 1; /* 設置較高的 z-index */
}


.head {
  display: flex;
  justify-content: center; /* 水平置中 */
  font-size:60px;
}

.welcome{

  display: flex;           /* 使用 flexbox 佈局 */
  flex-direction: column;  /* 設定排列方向為垂直 */
  align-items: center;     /* 項目在水平方向上居中 */
}

/* App.css 或者其他你的樣式文件 */

/* 設置navbar容器 */
.navbar {
  display: flex;
  justify-content: center; /* 水平居中 */
}

/* 設置每個按鈕樣式 */
.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 20px;
  background: linear-gradient(45deg, #007bff, #0056b3);
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none; /* 去除預設的下劃線 */
  margin: 0 5px; /* 按鈕之間的間隔 */
  border-radius: 12px;
  font-size: 16px;
  transition: background-color 0.3s; /* 鼠標懸停過渡效果 */
  animation: floating 3s ease-in-out infinite;
}

/* 鼠標懸停效果 */
.nav-button:hover {
  background: blue;
  transform: scale(1.07);
  animation: none; /* 移除浮動動畫，避免影響 hover */
}

.nav-button:active{
  transform: scale(0.9);
}


/* 定義動畫 */
@keyframes gradientAnimation {
  0% {
    background: black;
  }
  50% {
    background: rgb(41, 45, 50);
  }
  100% {
    background: rgb(2, 3, 3);
  }
}


@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}




